<%- include('../layout/main', { title: 'Blogs', body: '' }) %>


<h2>All Blogs</h2>
<div class="filter-button">
  <a href="/blog?sort=Newest"><button>Newest</button></a>
  <a href="/blog?sort=Oldest"><button>Oldest</button></a>
</div>
<% blogs.forEach(blog => { %>
  <article>
    <h3><a href="/blog/<%= blog._id %>">
      <%= blog.title.substring(0,50) %>
    </a></h3>
    <p>
      <%= blog.body.substring(0, 100) %>...
    </p>
    <small>By: <%= blog.author ? blog.author.name : 'Unknown' %></small>
  </article>
<% }) %>
